$bp-lg:960px;
$header-height:80px;
$primary:blue;
$text:#000;
$text-light:#6f6f6f;
$h-space:150px;

$phone-max:480px;
$tablet-p-max:768px;
$tablet-l-max:1024px;
$desktop-min:1224px;



*{
  box-sizing: border-box;
}


body{
  overflow: hidden;
  transition: all 2s ease;
  background-color: #FFF;
  color:#000;
  // &.modal-open{
  // background-color:#fff;
    
  // }
}


a{
  cursor: pointer;
  color:#000;

  &:hover{
    color:$primary;
  }

}

figure{
  margin:0;
}

img{
  display: block;
  width:100%;
  height:100%;
}




//---------------------------------------------------------G-S


.g-nav{
  position:fixed;
  height:100vh;
  width:100vw;
  top:0;
  left:0;
  right:0;
  bottom:0;
  display:grid;
  grid-template-columns:60px 1fr 60px;
  grid-template-rows:auto 1fr auto;
  z-index:9999;

  @media only screen and (mim-width: $tablet-p-max) {
    grid-template-columns:30px 1fr 30px;
  }

  &__header{
    grid-column: 2 / 3;
    display:flex;
    justify-content: space-between;
    padding-top:3rem;
  }


  img{
    margin:0;
  }

  &__footer-left{
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    padding:16px;
  }

  &__footer-right{
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    padding:16px;

  }

}

.logo{
  display:flex;
  flex-direction: row;
  align-items: center;
  color:#000;
  text-decoration:none;
  margin:0;
  font-family: 'Sofia',sans-serif;
  font-weight: 600;
  font-size:1.6em;

  img{
     // transform: rotate(90deg);
      height:60px;
      margin:10px;
  }

  
}

.menu{
    margin:0 0 0 3em;
    list-style-type: none;
    display: flex;


        li{
        margin:0;
        padding:0 10px;
        font-size: 16px;
        font-weight:500;

            a{
                color:#000;   
                &[aria-current]{
                    color:blue;
                }
            }

        }

}



//---------------------------------------------------------OBJ




.o-content{
  width:100%;
  padding:0 10vw;
  position: relative;
  z-index:9;


  @media only screen and (mim-width: $tablet-p-max) {
    padding:0 $h-space;
  }


  &__text{
    margin-right:30vw;

    @media only screen and (mim-width: $tablet-p-max) {
      margin-right:60vw;
      font-size: 1.16667vw;
    }

  }

  &__text-home{
    margin-right:40vw;

    @media only screen and (mim-width: $tablet-p-max) {
      max-width:40vw;
      font-size: 1.16667vw;
    }

  }



  //stacked
  &:not(first-child){
    margin-top:10vh;
  }
  
}



//---------------------------------------------------------TYPE


.title{
display: block;
font-size: 1.5vw;
font-weight: 400;
line-height: 1;
transition:all 300ms ease;
color:#fff;

.modal-open &{
  color:$text;
}
  @media only screen and (min-width: $desktop-min) {
    font-size: 1.5vw;
  }

}

.text{
display: block;
margin: 30px 0 0 0;
font-size: 32px;
line-height: 133%;
letter-spacing: -.03em;
transition:all 300ms ease;
//`color:#fff;
color:$text;
.modal-open &{
  color:$text;
}


}



.masthead{
display: block;
margin: 0;
font-size: 30px;
line-height: 133%;
letter-spacing: -.03em;
//color:lightgray;  
transition:all 300ms ease;
opacity:0.2;
color:$text;


  &.is-inview{
    opacity:1!important;
  }


}


.sub-text{
display: block;
margin: 30px 0 0 0;
font-size: 20px;
font-weight:400;
line-height: 133%;
letter-spacing: -.03em;
//color:#fff;
color:$text;

  .modal-open &{
    color:$text;
  }

  @media only screen and (min-width: $desktop-min) {
    font-size: 27px;
  }

}


.tags{
display: block;
margin: 30px 0 0 0;
color: $text-light;
font-size: 3vw;
letter-spacing: .04375em;
line-height: 156%;

  @media only screen and (min-width: $desktop-min) {
    font-size: 1.16667vw;
  }

}


.anim{
  position: relative;
	float: left;
	margin-left: 150px;
	width: 290px;
	font-size: 20px;
	line-height: 24px;
   top:3em;
  
}


.services-list{
  list-style-type: none;
  margin:0;
}



//---------------------------------------------------------HERO

.c-hero{
padding: 0;
font-family: 'Sofia',sans-serif;
color:#000;
position: relative;
z-index:9;
background-size: cover;


  &__content{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height:100vh;
    width:100vw;
    position: relative;
  }

  &--home{
    background: linear-gradient(
                    180deg
            ,#2948ff,#396afc);

    .c-hero__content{
      min-height: 100vh;
      height:100vh;
      padding-top:20vh;

      .sub-text,
      .text{
        color:#fff;
      }

    }


  }
  
  &--sub{
    .c-hero__content{
      justify-content: flex-end;
      min-height: auto;
      height:75vh;
     // padding-bottom:10vh;
    }

  }

  &--project{

    .c-hero__content{
      height:66vh;
    }

  }
  
  

}
  
// .home-hero{
//   position:absolute;
//   height:100vh;
//   width:100vw;
//   background-color: #fefefe;
  
//   &__bg{
//     display:grid;
//     grid-template-rows: 33vw 33vw 33vw;

//     div{
//       border-right:1px solid #fff;
//     }
//   }

// }


.c-content-section{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:100vw;
    position: relative;
    margin-bottom: 20vh;
}

.services{
  //padding-top:10vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  li{
  font-size:14px;
  }

}
    

//---------------------------------------------------------HERO

.img{
  width:100%;
  height:100%;
  overflow:hidden;
  background-color: lightgray;
  background-size: cover;
}

.c-block{
  width: 100vw;
 // min-height:100vh;
  padding:10vh $h-space;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow:hidden;

  &--full{
    padding:10vh 0;
    margin-bottom:10vh;
    height:90vh;
    overflow:hidden;
    position: relative;
  }

  &--title{
    height:33vh;
  }

  &--text{
    height:auto;
    margin-bottom:10vh;
  }


  &--services{
    height:auto;
    margin-bottom:20vh;
  }


  &--img-fw{
    height: 80vh;
  }


  &__img,
  &__text{
    height: 100%;
    position: relative;
    width:50%;
  }

}


//---------------------------------------------------------PROJECT


.project{
  width:100%;
  height:100%;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:center;
  
    &__text{
    width:40%;
    padding-right: 10%;
    }
    
    &__img{
    width:50%;
    height:60vh;
    overflow:hidden;
    background-color:pink;

        .inner{
        width:100%;
        height: 90vh;
        transform: translateY(-10vh);
        }
    }

}




















//---------------------------------------------------------PROJECT


.cl{
  display:flex;

  flex-direction: column;
  justify-content: space-between;
  align-items:flex-start;
  padding:30vh 0 $h-space 0;

  @media only screen and (min-width: $desktop-min) {
    flex-direction: row;
  }


  &__left{
    width:100%;
    padding-right:0;
    padding-bottom:60px;


    h1{
      margin:0;
    }

    @media only screen and (min-width: $desktop-min) {
      width:100%;
      padding-right:0;
      padding-bottom:60px;
      width:40%;
      padding-right: 60px;
    }
  
  }

  &__right{
    width:100%;

    @media only screen and (min-width: $desktop-min) {
      width:50%;
    }
  
  }
    
}

.input-field{
  margin-bottom:30px;
}

.c-button{
  height:38px;
  padding:0 16px;
  background-color: #fff;
  color:#000;
  border-radius:3px;
}



input,textarea{
  display: block;
  width: 100%;
  background-color:#fefefe;
  border: 1px solid rgba(#000,0.25);
  color:#000;
  height:45px;
  padding:0 12px;
  font-size: 1rem;
	line-height: 45px;
	letter-spacing: .125rem;
  transition: all .5s cubic-bezier(.4, .25, .8, .3);
}

  textarea {
	outline:none;
	min-height: 5em;
	max-height: 40vh;
  }


input::selection {
  border: 1px solid rgba(#000,1);
}
  



////////0----------------

.g3{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 40px;
}

.blend-multiply {
  mix-blend-mode: multiply;
}

.home-vid-mask-wrap {
  z-index: 10;
  position: relative;
}

.home-video-mask {
 background-color: #fff;
}

.blend-screen {
  mix-blend-mode: screen;
}

.img{

}

.let{
  height: 100vh;
  height:100vh;
  position: absolute;
  top:0;
  left:0;
  color:#000;
  font-size: 100vh;
}

.let-t{
  position: absolute;
  width:100vw;
  height:100vh;
  color:#000;
  white-space: nowrap;

  span.h1{
    font-size: 100vh;
    line-height: 100vh;
    text-indent: 50vw;
    font-weight: 600;
  }

  span.blob{
    display:block;
    position:absolute;
    height:33vw;
    width:33vw;
    background-color: #fefefe;
    border-radius: 33vw;
    position: absolute;
    margin:50%;
  }


}


.pos-ab{
  position: absolute;
  top: 0;
  left: 0;
  width:100vw;
  height:100vh;
}



.box-img {
  margin-top: 10vh;
  width: 10vw;
  height: 80vh;
  overflow: hidden;
  margin-bottom: 45vh;
  
  img {
      height: 120%;
      transition: .1s ease-out;
  }
}

.fill{
  position:absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}



.footer{
  background-color: #000;
  padding:$h-space 0;

  *{
    color:#fff;
  }

  &__content {
  color:#fff!important;
  display: flex;
  flex-direction: row;

      // @media only screen and (min-width: $desktop-min) {
      //   flex-direction: row;
      // }

      .intro,
      .c1{
        margin-bottom:30px;
      }

      ul{
        list-style-type: none;
        margin:0;
      }

      ul.links{

        li{
          padding:8px 0;
          color:#fff;
        }
      }

      .content1{
        width:60%;
        text-align:left;

        // @media only screen and (min-width: $desktop-min) {
        //   flex-direction: row;
        // }
      }

      .content2{
        width:40%;
        text-align:right;

        // @media only screen and (min-width: $desktop-min) {
        //   flex-direction: row;
        // }
      }

      .copyright{
        font-size: 14px;
        color:#6f6f6f;
      }
  }

    ul.social{ 
    list-style-type: none;
    display: flex;
    flex-direction:row;

      li{
      color:#fff!important;

        a{
          color:#fff;
          font-size: 14px;
          text-decoration: none;
          padding:16px 16px 16px 0;
        }

      }
    }



}




.cursor {
    width: 40px;
    height: 40px;
    border: 2px solid #fefefe;
    border-radius: 100%;
    position: fixed;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: all 150ms ease;
    transition-property: background-color, opacity, transform, mix-blend-mode;
    z-index: 9999;
    mix-blend-mode: difference;
}

.cursor--hidden {
    opacity: 0;
}

.cursor--link-hovered {
    transform: translate(-50%, -50%) scale(1.25);
    background-color: #fefefe;
}

.cursor--clicked {
    transform: translate(-50%, -50%) scale(0.9);
    background-color: #fefefe;
}
