$bp-lg:960px;
$header-height:80px;
$primary:blue;
$text:#000;
$text-light:#6f6f6f;
$h-space:150px;

$phone-max:480px;
$tablet-p-max:768px;
$tablet-l-max:1024px;
$desktop-min:1224px;



*{
  box-sizing: border-box;
}


body{
  overflow: hidden;
  background-color:#fff;
}


a{
  cursor: pointer;
  color:#000;

  &:hover{
    color:$primary;
  }

}

figure{
  margin:0;
}

img{
  display: block;
  width:100%;
  height:100%;
}




//---------------------------------------------------------G-S


.g-nav{
  position:fixed;
  height:100vh;
  width:100vw;
  top:0;
  left:0;
  right:0;
  bottom:0;
  display:grid;
  grid-template-columns:60px 1fr 60px;
  grid-template-rows:auto 1fr auto;
  z-index:9999;

  @media only screen and (mim-width: $tablet-p-max) {
    grid-template-columns:30px 1fr 30px;
  }

  &__header{
    grid-column: 2 / 3;
    display:flex;
    justify-content: space-between;
    padding-top:3rem;
  }


  img{
    margin:0;
  }

  &__footer-left{
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    padding:16px;
  }

  &__footer-right{
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    padding:16px;

  }

}

.logo{
  display:flex;
  flex-direction: row;
  align-items: center;
  color:#000;
  text-decoration:none;
  margin:0;
  font-family: 'Sofia',sans-serif;
  font-weight: 600;
  font-size:1.6em;

  img{
     // transform: rotate(90deg);
      height:60px;
      margin:10px;
  }

  
}

.menu{
    margin:0 0 0 3em;
    list-style-type: none;
    display: flex;


        li{
        margin:0;
        padding:0 10px;
        font-size: 16px;
        font-weight:500;

            a{
                color:#000;   
                &[aria-current]{
                    color:blue;
                }
            }

        }

}



//---------------------------------------------------------OBJ




.o-content{
  width:100%;
  padding:0 10vw;
  position: relative;
  z-index:9;


  @media only screen and (mim-width: $tablet-p-max) {
    padding:0 $h-space;
  }


  &__text{
    margin-right:30vw;


    @media only screen and (mim-width: $tablet-p-max) {
      max-width:40vw;
      font-size: 1.16667vw;
    }

  }

  
}



//---------------------------------------------------------TYPE


.title{
display: block;
font-size: 1.5vw;
font-weight: 400;
line-height: 1;
color:$text;

  @media only screen and (min-width: $desktop-min) {
    font-size: 1.5vw;
  }

}

.text{
display: block;
margin: 30px 0 0 0;
font-size: 2.58333vw;
line-height: 133%;
letter-spacing: -.03em;
color:$text;

    @media only screen and (max-width: $desktop-min) {
      font-size: 2.58333vw;
    }

}

.sub-text{
display: block;
margin: 30px 0 0 0;
font-size: 1.8vw;
font-weight:400;
line-height: 133%;
letter-spacing: -.03em;
color:$text;

  @media only screen and (max-width: $desktop-min) {
    font-size: 1.8vw;
  }

}


.tags{
display: block;
margin: 30px 0 0 0;
color: $text-light;
font-size: 1.16667vw;
letter-spacing: .04375em;
line-height: 156%;

  @media only screen and (max-width: $desktop-min) {
    font-size: 1.16667vw;
  }

}


.anim{
  position: relative;
	float: left;
	margin-left: 150px;
	width: 290px;
	font-size: 20px;
	line-height: 24px;
   top:3em;
  
}






//---------------------------------------------------------HERO

.c-hero{
padding: 0;
height: 100%;
font-family: 'Sofia',sans-serif;
color:#000;
position: relative;
z-index:9;

  &__content{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:100vh;
    width:100vw;
    position: relative;
  }

  &--home{

    .c-hero__content{
      height:85vh;
      padding-top:20vh;
    }

  }
  
  &--project{

    .c-hero__content{
      height:66vh;
    }

  }
  
  

}
  
// .home-hero{
//   position:absolute;
//   height:100vh;
//   width:100vw;
//   background-color: #fefefe;
  
//   &__bg{
//     display:grid;
//     grid-template-rows: 33vw 33vw 33vw;

//     div{
//       border-right:1px solid #fff;
//     }
//   }

// }

.services{
  padding-top:10vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
    

//---------------------------------------------------------HERO

.img{
  width:100%;
  height:100%;
  overflow:hidden;
  background-color: lightgray;
}

.c-block{
  width: 100vw;
  height:100vh;
  padding:10vh $h-space;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow:hidden;

  &--full{
    padding:10vh 0;
    margin-bottom:10vh;
    height:90vh;
    overflow:hidden;
    position: relative;
  }

  &--title{
    height:33vh;
  }

  &--text{
    height:auto;
    margin-bottom:10vh;
  }

  &--img-fw{
    height: 80vh;
  }


  &__img,
  &__text{
    height: 100%;
    position: relative;
    width:50%;
  }

}


//---------------------------------------------------------PROJECT


.project{
  width:100%;
  height:100%;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:center;
  
    &__text{
    width:40%;
    padding-right: 10%;
    }
    
    &__img{
    width:50%;
    height:100%;
    overflow:hidden;
    background-color: lightgray;

        .inner{
        width:100%;
        height:100%;
        background-size: cover;
        }
    }

}




















//---------------------------------------------------------PROJECT


.cl{
  display:flex;

  flex-direction: column;
  justify-content: space-between;
  align-items:flex-start;
  padding:30vh 0 $h-space 0;

  @media only screen and (min-width: $desktop-min) {
    flex-direction: row;
  }


  &__left{
    width:100%;
    padding-right:0;
    padding-bottom:60px;


    h1{
      margin:0;
    }

    @media only screen and (min-width: $desktop-min) {
      width:100%;
      padding-right:0;
      padding-bottom:60px;
      width:40%;
      padding-right: 60px;
    }
  
  }

  &__right{
    width:100%;

    @media only screen and (min-width: $desktop-min) {
      width:50%;
    }
  
  }
    
}

.input-field{
  margin-bottom:30px;
}

.c-button{
  height:38px;
  padding:0 16px;
  background-color: #fff;
  color:#000;
  border-radius:3px;
}



input,textarea{
  display: block;
  width: 100%;
  background-color:#fefefe;
  border: 1px solid rgba(#000,0.25);
  color:#000;
  height:45px;
  padding:0 12px;
  font-size: 1rem;
	line-height: 45px;
	letter-spacing: .125rem;
  transition: all .5s cubic-bezier(.4, .25, .8, .3);
}

  textarea {
	outline:none;
	min-height: 5em;
	max-height: 40vh;
  }


input::selection {
  border: 1px solid rgba(#000,1);
}
  

