@font-face {
    font-family: 'Sofia';
    src: url('../fonts/Sofia-Pro-Regular.eot');
    src: url('../fonts/Sofia-Pro-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Sofia-Pro-Regular.woff2') format('woff2'),
         url('../fonts/Sofia-Pro-Regular.woff') format('woff'),
         url('../fonts/Sofia-Pro-Regular.svg#Sofia Pro') format('svg');
  }
  @font-face {
    font-family: 'SofiaM';
  src: url('../fonts/Sofia-Pro-Medium.eot');
  src: url('../fonts/Sofia-Pro-Medium.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Sofia-Pro-Medium.woff2') format('woff2'),
       url('../fonts/Sofia-Pro-Medium.woff') format('woff'),
       url('../fonts/Sofia-Pro-Medium.svg#Sofia Pro') format('svg');
  }
  @font-face {
    font-family: 'SofiaSB';
       src: url('../fonts/Sofia-Pro-Semi-Bold.eot');
       src: url('../fonts/Sofia-Pro-Semi-Bold.eot?#iefix') format('embedded-opentype'),
            url('../fonts/Sofia-Pro-Semi-Bold.woff2') format('woff2'),
            url('../fonts/Sofia-Pro-Semi-Bold.woff') format('woff'),
            url('../fonts/Sofia-Pro-Semi-Bold.svg#Sofia Pro') format('svg');
  }
  