@import "../styles/type.scss";

.c-hero{
background: #396afc;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #2948ff, #396afc);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #2948ff, #396afc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
font-family: 'Sofia',sans-serif;
color:#fff;

    h1{
        font-size:5em;
        font-weight: 600;
    }

    h2{
        font-weight: 400;
        font-size:3em;
    }

    a{
        color:#fff;  
    }
    
    .o-content{
        padding:6rem;
    }
    
}


