
.o-tile{
    padding:0;

    &:nth-child(2n+2){
        margin-top: 6rem;
    }
}

.c-card{
    background-color:#fff;
    min-width:100%;
    min-height:300px;

    overflow: hidden;
    
        &__img{
        width:100%;
        min-height:66vh;
        background-color: lightgray;
        border-radius:8px;
        position: relative;
        overflow: hidden;

        -webkit-box-shadow: 0px 17px 58px -29px rgba(217,102,204,0.42);
-moz-box-shadow: 0px 17px 58px -29px rgba(217,102,204,0.42);
box-shadow: 0px 17px 58px -29px rgba(217,102,204,0.42);

             .parallax{
                 position: absolute;
                 min-height:88vh;
                 margin-top:-22vh;
             }

        }
    
        &__header{
            height:48px;
            line-height: 48px;
            margin-bottom:12px;
            padding:0 24px;
        
            > *{
          font-size:2em;  
            }
        }
    
        &__content{
            padding:0 24px 24px 24px;
        }
    }
    
    // .case-card{
      
    // }